[Unit]
Description=Prometheus PostgreSQL Exporter
After=network.target

[Service]
Type=simple
Restart=always
User=postgres
Group=postgres
Environment=DATA_SOURCE_NAME="user=postgres host=/var/run/postgresql/ sslmode=disable"
ExecStart={{ exporters_host_dest }}/postgres-exporter/prometheus-postgres-exporter
SuccessExitStatus=143
TimeoutStopSec=15
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
