.green {
    background-color: rgb(138, 187, 89);
}

.red {
    background-color: rgb(177, 75, 75);
}

.yellow {
    background-color: rgb(187, 197, 94);
}

.font-size-25 {
    font-size: 20px;
}

.inline {
    display: inline-block;
}

.margin-5 {
    margin: 5px;
}

.max-400 {
    max-width: 400px;
}

.label-customize {
    line-height: normal;
}