<div>
    <h2>Training</h2>
    <div>
      <label for="word">Word: </label>
      <div id="word">{{word.wordTranslate}}</div>
    </div>
    <div *ngIf = "isShowInfo">
      <div>
          <label for="word-origin">Origin: </label>
          <div id="word-origin">{{word.wordOrigin}}</div>
      </div>
      <div>
          <label for="word-info">Info: </label>
          <div id="word-info">{{word.wordInfo}}</div>
      </div>
    </div>
    <div>
      <button (click)="approve()">Approve</button>
      <button (click)="repeat()">Repeat</button>
      <button (click)="showInfo()">Show Info</button>
      <button (click)="complete()">Complete</button>
    </div>
</div>