<div class="pagination-centered well container max-400">
    <h2 class="page-header">Select a training with parameters</h2>
    <div>
        <label for="training-type" class="label label-info font-size-25 label-customize">Type: </label>
        <select id="training-type" [(ngModel)]="selectedType" class="btn dropdown-toggle" data-toggle="dropdown" >
            <option *ngFor="let type of allTypes">{{type}}</option>
        </select>
    </div>
    <div>
        <label for="training-size" class="label label-info font-size-25 label-customize">Size: </label>
        <input id="training-size" [(ngModel)]="size" placeholder="Size"/>
    </div>
    <div>
        <label class="label label-info font-size-25 label-customize">Tags: </label>
        <select [(ngModel)]="selectedTag" class="btn dropdown-toggle" data-toggle="dropdown" >
            <option *ngFor="let tag of tagsArray">{{tag}}</option>
        </select>
    </div>
    <button (click)="start()" class="btn">Start</button>
    <button (click)="clear()" class="btn">Clear</button>
</div>
